.form__input input,
.form__input textarea {
  width: 100%;
  padding: 7px 25px;
  color: black;
  font-size: 0.8rem;
  background-color: transparent;
  border: 1px solid rgba(221, 221, 221, 0.171);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.form__input {
  margin-bottom: 15px;
}

.form__input label {
  color: #fff;
  margin-bottom: 10px;
}

.form__input .upload__input {
  padding: 40px 25px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .create__item {
    margin-top: 15px;
  }
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
}


button{
  margin-top: 3em;
  padding: 10px;
  background-color: rgb(215, 16, 199);
  border-radius: 5px;
  height: 40px;
  width: 100px;
  outline: none;
  color: #fff;
  text-align: center;
}